.sui-button {
  background:#2E81F9;
  color:#FFFFFF;
  border: 0;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  outline: none;
  margin-left:1rem;
}
.sui-button.noMargin {
  margin:0;
}
.sui-button:hover {
  background:#3764a3;
  text-decoration:none;
  color:#FFFFFF;
}

.sui-button.small {
  font-size: 0.875rem;
  padding: 0.25rem 0.5rem;
}

.sui-button.secondary {
  background: transparent;
  color:#2E81F9;
  font-weight: 700;
}

.sui-button.danger {
  background: #FF5556;
  color:#FFFFFF;
  font-weight: 700;
}

.sui-button:focus, 
.sui-button:active {
  outline: none;
}
