.container-title {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
}

.title {
  font-size: 3rem;
  font-weight: 700;
  display: inline-block;
  color: #3D4356;
}

.container-buttons {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 1rem;
  flex:1;
}