.container-card {
  display:inline-flex;
  color:#748397;
  margin: 0 2rem;
  align-items: flex-start;
}

.container-card .info {
  display:flex;
  flex-direction: column;
  margin-left:1rem;
}

.container-card .info span {
  font-weight: 700;
}

.container-card .info em {
  font-style: normal;
}