.search-wrapper {
  background: #FFFFFF;
  margin: 2rem 0;
  border-radius: 0.5rem;
  padding: 2rem;
}

.search-wrapper input {
  border:0;
  flex: 1;
  margin: 0 1rem;
}
.search-wrapper input:active,
.search-wrapper input:focus  {
  border: 0;
  outline: none;
}

.input-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


