aside {
  background:#FFFFFF;
  padding:3rem 2rem;
  width:17.5rem;
  box-sizing: border-box;
  position:fixed;
  height:100%;
}

aside i {
  color: #2E81F9;
  display: block;
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: -0.5rem;
  text-align: center;
  font-style:normal;
  margin-bottom:2rem;
}


aside a, aside a:hover {
  text-decoration: none;
}


aside span {
  color:#748397;
  display: block;
  margin: 1rem 0;
  font-size:0.875rem;
  padding:10px;
  position:relative;
}

aside span.active,
aside span:hover {
  cursor: pointer;
  background:#2E81F9;
  color:white;
}
aside span:hover a, aside span:hover em {
  color:white;
}

aside span svg {
  margin-right:10px; 
}

aside span a {
  color:#4C5F7F;
}
aside span em {
  
  font-style: normal;
  font-weight: 700;
  display: inline-block;
  position: absolute;
  right: 1rem;
}
