.pagination {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
}

.container-table {
  display: block;
  max-width: 100%;
  background: white;
  padding: 2rem;
  border-radius: 0.5rem;
}
table {
  background:#F7F7F7;
}
.tableWrap {
  display: block;
  max-width: 100%;
  overflow-y: hidden;
}

table {
  width: 100%;
  font-size:0.875rem;
  border-spacing: 0;
}
table tbody tr:hover {
  background:#F6F5F8;
  color: #3D3B42;
}
table tbody tr {
  background: #FFFFFF;
}
table td {
  margin: 0;
  padding:1.5rem 0.5rem;  
  width: 1%;
}

table th {
  padding: 10px;
  background:#F6F5F8;
  color: #3D3B42;
}