.group-form {
  background: white;
  padding: 1rem;
  border-radius: 0.5rem;
  margin: 1rem 0;
}

h3.title-form {
  color: #2D3942;
  font-size: 1rem;
  font-weight: 100;
  padding: 1rem;
  text-transform: uppercase;
  display: inline-block;
}