html, body {
  height: 100%;
  margin: 0;
  font-family: 'Inter', sans-serif;
}

body {
  margin: 0;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background:#F8F9FD;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  height:100%;
}

.formik-form .row {
  margin: 0.5rem 0;
  display: flex;
  align-items: flex-start;
}

.formik-form .row .form-label {
  font-weight: 700;
  color: #748397;
}

.align {
  display:inline-flex;
  margin-bottom:2rem;
  width:100%;
}

.align.right {
  justify-content: flex-end;
}
.form-label {
  text-align: right;
}

.group-form.flex {
  display: flex;
  justify-content: flex-end;
}